body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin:0;
}
.container{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
}
.shadow{
  position: relative;
  box-shadow: 0px 3px 15px 0px #D3D3D3;
}
a{
  text-decoration: none;
  color: black;
}

/*HEADER*/

header
{
  margin-bottom:1em;
}

nav
{
  display: flex;
  justify-content: space-between;
}

.logo
{
  margin:0;
}
.nav
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.list
{
  list-style-type: none;
}

.navbar
{
  margin-left: 3em;
}

.absolute-link1 a:hover
{
  padding-top: 19px;
  border-top: solid 3px #0065FC;
  color: #0065FC;
}

.absolute-link2 a:hover
{
  padding-top: 19px;
  border-top: solid 3px #0065FC;
  color: #0065FC;
}

.color
{
  color: #0065FC;
}

.bold
{
  font-weight: bold;
}

/*SECTION 1*/
.section__search
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2em;
}

.section__search_head
{
  display:flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.icon
{
  display:none;
}

h2
{
  font-size: 120%;
}

.btn
{
  margin-bottom: 3em;
  display: flex;
}

.btn p
{
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
}
.fa-map-marker-alt
{
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  padding:1em;
}

.search
{
  border: 1px solid #F2F2F2;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding-left: 5px;
}

.btn__search
{
  width: 100px;
  border: 1px solid #0065FC;
  border-radius: 0px 10px 10px 0px;
  background-color: #0065FC;
  color: white;
}

.filtres__container
{
  display:flex;
  align-items: center;
  margin-bottom: 2em;
}

.filtres__container div
{
  margin-right: 1%;
}

.eco
{
  height: 17.5px;
}

.fa-money-bill-wave
{
  margin-top: 2px;
}

.kid
{
  width:17.9px;
  height: 17.9px;
}

.fa-child
{
  padding-left: 3px;
  padding-top: 1px;
}

.pet span
{
  min-width: 103%;
}

div .filtres
{
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.filtres:hover
{
  background-color: #F2F2F2;
  transform:scale(1.1);
}

.bt__icon
{
  border-radius: 40px;
  background-color: #DEEBFF;
  color: #0065FC;
  margin-right: 7%;
  padding: 0.5em;
  display:flex;
  transform: scale(1.1);
}

.bt__text
{
  display:flex;
  justify-content: center;
  padding-right:1em;
  padding-left: 0.5em;
}

.filtres-container span
{
  display:flex;
  font-weight: bold;
  padding-right: 1em;
  align-items: center;
  margin-right: 0.5em;
}

.search__info
{
  display:flex;
  align-items: center;
}

.info
{
  width: 17px;
  display: flex;
  height: 17px;
  justify-content: center;
  align-items: center;
  border: 1px solid #F2F2F2;
  border-radius: 40px;
  align-self: center;
}

.fa-info
{
  color: #0065FC;
  font-size: 8px;
}

.span-info
{
  padding-left: 5px;
}

/*SECTION 2 & ASIDE*/
.section-aside
{
  display: flex;
  margin-bottom: 2em;
}

.section-hebergements
{
  background-color: #F2F2F2;
  border-radius:20px;
  flex: 2;
  display:flex;
  flex-direction: column;
}

figure
{
  margin:0px;
}

.section__hebergements__header
{
  padding-left: 17px;
}

.hebergements
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 991px;
  min-width: 744px;
  flex:1;
  grid-gap:20px;
}

.hebergements__figure
{
  background-color: white;
  text-align: center;
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  padding: 4px;
}

.hebergements__figure img
{
  width: 19em;
  height: 9em;
  border-radius: 30px 30px 0px 0px;
  object-fit: cover;
}

.name
{
  font-weight: bold;
}

.hebergements__figcaption
{
  text-align: left;
  padding-left: 10px;
  padding-right: 1px;
}

.stars
{
  padding-bottom: 7px;
}

.blue
{
  color:#0065FC;
}

.grey
{
  color:#F2F2F2;
}

.more
{
  margin-bottom: 15px;
  padding-left: 26px;
  margin-top:4%;
}

.more a
{
  font-weight: bold;
  margin:0px;
}

.section-populaires
{
  background-color: #F2F2F2;
  border-radius: 20px;
  padding-bottom: 1em;
  margin-left: 20px;
  display:flex;
  flex-direction:column;
  flex:1;
}

.aside__head
{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
}

.aside__head h2
{
  min-width: 168px;
}

.aside__links
{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-self: center;
  grid-gap: 20px;
}

.fa-chart-line
{
  margin-right: 7%;
}

.aside__figure
{
  background: white;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  padding-right: 12px;
}

.aside__img
{
  display:flex;
}

.aside__img img
{
  width: 11em;
  border-radius: 30px 0px 0px 30px;
  height: 10.5em;
  object-fit: cover;
}

.aside__figcaption
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-top: 7px;
  padding-bottom: 7px;
}

.n-price p
{
  max-width: 157px;
  margin-top: 0;
}

/*SECTION 3*/
.activite__container
{
  display:flex;
  grid-gap:20px;
}

.activite__img
{
  border-radius:30px 30px 0px 0px;
}

.tab
{
  margin-left:15px;
}

.long__box
{
  border-radius: 30px;
  width:26%;
  flex:auto;
}

.small__box
{
  border-radius: 30px;
}

.activite__wrap
{
  display: flex;
  flex-direction: column;
  width:21%;
  justify-content: space-between;
  flex:auto;
  grid-gap:20px;
}

.long
{
  object-fit: cover;
  width:100%;
  height: 569px;
}

.small
{
  width: 100%;
  object-fit: cover;
}

.pomegues
{
  height: 340px;
}

.frioul
{
  height: 150px;
}

.notredame
{
  height: 304px;
}

.longchamp
{
  height: 186px;
}

h3
{
  margin-left: 20px;
}

/*FOOTER*/
footer
{
  display:flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  margin-top: 3%;
}

.about
{
  padding-left: 20px;
}

.footer-list
{
  display: flex;
  flex-direction: column;
  margin-right:20%;
}

.footer-list a
{
  margin-left: 0%;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media all and (max-width: 480px)
{
  .container
  {
    margin:0;
  }

  header, .section__search, .section-hebergements, .section-activites
  {
    margin-left: 10px;
    margin-right: 10px;
  }
  header
  {
    display:block;
    margin-bottom:4em;
  }
  nav
  {
    display:flex;
    justify-content: space-between;
  }
  nav img
  {
    margin-left:0%;
  }
  nav ul
  {
    display:inline;
  }
  .link1
  {
    margin-left: 0px;
  }
  .absolute-link1 a:hover
  {
    border-top: none;
    color: inherit;
  }
  .absolute-link2 a:hover
  {
    border-top: none;
    color: inherit;
  }
  .absolute-link1:active
  {
    padding-top: 0px;
    color: #0065FC;
    border-bottom-color: #0065FC;
  }
  .absolute-link2:active
  {
    padding-top: 0px;
    color: #0065FC;
    border-bottom-color: #0065FC;
  }
  .absolute-link1
  {
    width:50%;
    position: absolute;
    top:10%;
    left:0%;
    margin-top:10px;
  }
  .absolute-link1 a
  {
    padding-left: 20%;
    border-top:none;
    padding-bottom:23px;
  }
  .absolute-link2
  {
    position:absolute;
    top: 10%;
    right: 0%;
    width:50%;
    margin-top:10px;
  }
  .absolute-link2 a
  {
    padding-left: 25%;
    padding-bottom:23px;
  }
  .absolute-link1, .absolute-link2
  {
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 20px;
  }
  .link3
  {
    margin-right: 0px;
    margin-top:8px;
  }
  .section__search_head
  {
    margin-top: 2em;
    align-items: center;
  }
  .section__search_head h2
  {
    max-width: 66%;
    text-align: center;
  }
  .text
  {
    display:none;
  }
  .icon
  {
    display:inline-block;
  }
  .btn p
  {
    width: 100%;
  }
  .btn
  {
    margin-left: 2%;
  }
  .btn__search
  {
    width:50px;
    border-radius: 10px;
    position:relative;
    right: 7px;
    padding-right: 5px;
    border:0;
  }
  input
  {
    width: 100%;
  }
  .filtres__container
  {
    align-content: space-between;
    flex-wrap: wrap;
    height: 170px;
    font-size:114%;
  }
  .span-filtres
  {
    width:100%;
  }
  .filtres:hover
  {
    transform: none;
    background-color: transparent;
  }
  .fa-child
  {
    padding-left: 2px;
  }
  .info
  {
    width:19px;
    margin-bottom: 15px;
  }
  .span-info
  {
    max-width: 360px;
  }
  .section-aside
  {
    flex-direction: column-reverse;
  }
  .section-populaires
  {
    border-radius: 0px;
    margin-left:0;
  }
  .aside__links
  {
    max-width: none;
    align-self: auto;
    margin-left: 9px;
    margin-right: 9px;
  }
  .aside__figure{
    padding-right:12px;
  }
  .n-price p
  {
    max-width: none;
  }
  .aside__figcaption
  {
    justify-content: space-around;
    padding-left: 1em;
  }
  .aside__img img
  {
    width:9em;
    height: 11em;
  }
  .section-hebergements
  {
    background-color: transparent;
    margin-top:10px;
  }
  .section__hebergements__header
  {
    width:auto;
  }
  .hebergements__figure img
  {
    width: 100%;
    height: 10em;
  }
  .hebergements
  {
    min-width: 300px;
    flex-direction: column;
  }
  .heberments a
  {
    display: flex;
    justify-content: center;
  }
  .name-price p
  {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .activite__container
  {
    flex-direction: column;
  }
  .activite__wrap
  {
    width:auto;
  }
  .long__box
  {
    width:auto;
  }
  .long
  {
    height: 10em;
  }
  .small
  {
    height: 10em;
  }
  .footer-list
  {
    margin-right: 0%;
    margin-left: 5%;
  }
  footer
  {
    flex-direction: column;
  }
  .about
  {
    padding-left: 0;
  }
}

@media all and (min-width: 481px) and (max-width: 621px)
{
  .container
  {
    margin:0;
  }
  header, .section__search, .section-hebergements, .section-activites {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar
  {
    margin-left:2em;
  }
  .section__search_head
  {
    align-items: center;
    margin-bottom: 2em;
  }
  .btn
  {
    justify-content: center;
  }
  .span-filtres
  {
    display:none;
  }
  .text
  {
    display:none;
  }
  .icon
  {
    display:inline-block;
  }
  .btn__search
  {
    width:50px;
    border-radius: 10px;
    position:relative;
    right: 7px;
    padding-right: 5px;
  }
  div .filtres
  {
    border-color: transparent;
  }
  .filtres__container
  {
    justify-content: center;
    margin-left: 3%;
  }
  .filtres__container div
  {
    margin-right: 3%;
  }
  .bt__text
  {
    display:none;
  }
  .search__info
  {
    display:none;
  }
  .section-aside
  {
    flex-direction: column-reverse;
  }
  .section-populaires
  {
    border-radius: 0px;
    margin-left:0;
  }
  .aside__links
  {
    max-width: none;
    align-self: auto;
    margin-left: 9px;
    margin-right: 9px;
  }
  .aside__figure{
    padding-right:12px;
  }
  .n-price p
  {
    max-width: none;
  }
  .aside__figcaption
  {
    justify-content: space-around;
    padding-left: 1em;
  }
  .aside__img img
  {
    width:9em;
    height: 11em;
  }

  .section-hebergements
  {
    background-color: transparent;
    margin-top:10px;
  }
  .section__hebergements__header
  {
    width:auto;
  }
  .hebergements__figure img
  {
    width: 100%;
    height: 10em;
  }
  .hebergements
  {
    min-width: 350px;
    flex-direction: column;
  }
  .activite__container
  {
    flex-direction: column;
  }
  .activite__wrap
  {
    width:auto;
  }
  .long__box
  {
    width:auto;
  }
  .long
  {
    height: 10em;
  }
  .small
  {
    height: 10em;
  }
  .footer-list
  {
    margin-right: 0%;
    margin-left: 5%;
  }
  footer
  {
    flex-direction: column;
  }
  .about
  {
    padding-left: 0;
  }
}

@media all and (min-width: 622px) and (max-width: 1095px)
{
  .aside__links
  {
    flex-direction: row;
  }
  .navbar
  {
    margin-left:2em;
  }
  .section__search_head
  {
    align-items: center;
    margin-bottom: 2em;
  }
  .btn
  {
    justify-content: center;
  }
  .span-filtres
  {
    display:none;
  }
  .text
  {
    display:none;
  }
  .icon
  {
    display:inline-block;
  }
  .btn__search
  {
    width:50px;
    border-radius: 10px;
    position:relative;
    right: 7px;
    padding-right: 5px;
  }
  div .filtres
  {
    border-color: transparent;
  }
  .filtres__container
  {
    justify-content: center;
    margin-left: 3%;
  }
  .filtres__container div
  {
    margin-right: 3%;
  }
  .bt__text
  {
    display:none;
  }
  .search__info
  {
    display:none;
  }
  .section-aside
  {
    flex-direction:column-reverse;
  }
  .aside__head
  {
    padding-left: 12px;
  }
  .section-populaires
  {
    margin-left: 0px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background-color: #DEEBFF;
    padding-right: 5px;
    padding-left: 5px;
  }
  .aside__links
  {
    flex-direction: row;
    max-width:none;
    align-self: auto;
  }
  .aside__links a
  {
    flex:auto;
    width:30%;
  }
  .aside__figure
  {
    padding-right:4px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .aside__img
  {
    width:100%;
  }
  .aside__img img
  {
    width: 100%;
    border-radius: 30px 30px 0 0;
  }
  .aside__figcaption
  {
    padding-left:0;
    align-items: center;
  }
  .n-price
  {
    text-align: center;
    padding-top: 4px;
  }
  .n-price p
  {
    min-width: 140px;
    min-height: 34px;
    margin-bottom: 1em;
  }
  .hebergements
  {
    min-width: 0;
  }
  .section-hebergements
  {
    background-color: transparent;
  }
  .activite__container
  {
    flex-wrap: wrap;
  }
  .long__box
  {
    width:45%;
    flex: auto;
  }
  .activite__wrap
  {
    width: 45%;
    justify-content: space-around;
  }
  .footer-list
  {
    margin-right: 15%;
    padding-left: 2%;
  }
}
